/testDirectory/
/testREsults_6_18_coul_vosigma1e-04.dat
/testREsults_6_18_coul_vosigma1e-04_all.dat
/testREsults_6_18_coul_vosigma1e-04_all.dat~
/testREsults_6_18_coul_vosigma1e-04_sigma0.001.dat
/testREsults_6_18_coul_vosigma1e-04_sigma0.001.dat~
/testREsults_6_18_coul_vosigma1e-04_sigma0.025.dat
/testREsults_6_18_coul_vosigma1e-04_sigma0.025.dat~
/testREsults_6_18_coul_vosigma1e-04_sigma0.3.dat
/testREsults_6_18_hc_1e_04.dat
/testREsults_6_18_hc_prepare.dat
/testREsults_6_18_hc_vosigma4e-05_sigma0.005.dat
/testREsults_6_18_hc_vosigma4e-05_sigma0.005.dat~
/testREsults_6_18_hc_vosigma4e-05_sigma0.0075.dat
/testREsults_6_18_hc_vosigma4e-05_sigma0.0075.dat~
/testREsults_6_18_hc_vosigma5e-04.dat
/testREsults_6_18_hc_vosigma5e-04.dat~
/testREsults_6_18_vosigma3e05.dat
/testResults_003.dat
/testResults_003.dat~
/testResults_004.dat
/testResults_005.dat
/testResults_005.dat~
/testResults_045.dat
/testResults_045.dat~
/testResults_0475.dat
/testResults_0475.dat~
/testResults_049.dat
/testResults_049.dat~
/testResults_5-15.dat
/testResults_5-15.dat~
/testResults_5-15_vosigma1e05.dat
/testResults_5-15_vosigma1e05.dat~
/testResults_5-15_vosigma1e05_all.dat
/testResults_5-15_vosigma1e05_all.dat~
/testResults_5-15_vosigma1e05_sigma005.dat
/testResults_5-15_vosigma1e05_sigma005.dat~
/testResults_5-15_vosigma1e05_sigma01.dat
/testResults_5-15_vosigma1e05_sigma01.dat~
/testResults_5-15_vosigma1e05_sigma0125.dat
/testResults_5-15_vosigma1e05_sigma0125.dat~
/testResults_5-15_vosigma2e05.dat
/testResults_5-15_vosigma2e05.dat~
/testResults_new.dat
/testResults_new.dat_backup
/testResults_new.dat~
/testResults_valid_5-15.dat
/testResults_valid_5-15.dat~
/testResults_vosigma1e04.dat
/testResults_vosigma1e04.dat~
